<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Micagent/product</title>
	<meta name="description" content="Micagent">
	<style type="text/css">
	*{
         margin: 0;
         padding: 0;
         font-family: 微软雅黑;
         font-size: 12px;
    }
    .box{
         width: 390px;
            height: 350px;
         border: solid 1px #ddd;
         background: #FFF;
         position: absolute;
         left: 50%;
         top:42%;
         margin-left: -195px;
         margin-top: -160px;
         text-align: center;
    }
    .box h2{
         font-weight: normal;
            color: #fff;
         font-size: 16px;
         line-height: 40px;
         overflow: hidden;
         text-align: center;
            border-bottom: solid 1px #409EFF;
            background: #409EFF;
        }

        .input_box {
            width: 100%;
            padding-bottom: 15px;
            margin: 10px auto;
            overflow: hidden;
            /* float: left; */
            text-align: center;
            margin-left: 30px;
        }

        .regist,
        .login_btn {
            width: 120px;
            height: 38px;
            background: #409EFF;
            color: #fff;
            border: 0;
            border-radius: 38px;
            /* margin: -20px auto 0;  */
        }

        .input_box label {
            float: left;
            width: 80px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
        }

        .input_box input {
            float: left;
            height: 30px;
            width: 200px;
            padding-left: 5px;
        }

        .input_box:nth-child(1) {
            margin-top: 30px;
        }

        /* 错误提示框样式 */
    </style>
</head>
<body>
{% if errors %}
        <li>
            {% for error in errors %}
             <p style="color: red;">
                {{error}}
             </p>
              {% endfor %}
        </li>
{% endif %}
	
{% if login %}
{% csrf_token %}
    <div class="box">
    <h2>登陆</h2>
        <div class="input_box" style="margin-top:30px;">
	    <td><label >用户名:</label></td>
        <input id="uname" class="user_name" type="text" name="user" placeholder="请输入用户名" onblur="name_type()">
		<span class="err_name"></span>
        </div>
    <div class="input_box">
	    <td><label >密 码:</label></td>
        <input id="upass" class="user_pass" type="password" name="psw" placeholder="请输入密码" onblur="pass_type()">
		<span class="err_pass"></span>
    </div>
    <div id="error_box"><br></div>
        <div class="input_box_login">
	  <input type="submit" name="login_btn" class="login_btn" onclick="log_sub()" value="登录">
      <a href="{% url 'register' %}"><input type="button" class="login_btn" name="regist" value="注册"></a>
    </div>
</div
</form>
{% endif %}

{% if regist %}
{% csrf_token %} 
    <div class="box">
    <h2>注册</h2>
        <div class="input_box" style="margin-top:30px;">
	    <label >用户名:</label>
        <input id="uname" class="user_name" type="text" name="user" placeholder="请输入注册用户名" onblur="name_type()">
        <span class="err_name"></span>
        </div>
    <div class="input_box">
	    <label >密  码:</label>
        <input id="ufpass" class="user_pass" type="password" name="fpsw" placeholder="请输入密码" onblur="pass_type()">
            <span class="err_pass"></span>
    </div>
	<div class="input_box">
	    <label >确认密码:</label>
        <input id="uspass" class="user_enter_pass" type="password" name="spsw" placeholder="请再次输入密码" onblur="enter_pass()">
        <span class="err_enter_pass"></span>
    </div>
	<div class="input_box_regist">
        <input type="submit" name="regist" class="regist" onclick="regist_sub()" value="注册">
    </div>
    </div>
</div>
{% endif %}
    <!-- 引入jquery -->
    {{ static }}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
	<script type="text/javascript">
        function log_sub(){
		    var name = $('.user_name').val();
            var passwd = $('.user_pass').val();
		    var uobj = {"name":name, "passwd":passwd};
            var ustring = JSON.stringify(uobj);
		    $.ajax({
                url: "/login/check",
		        async: false,
                type: "POST",        //请求类型
                data: {"data":ustring},
		    	contentType: 'application/json; charset=UTF-8',
                //dataType: "json",   
				// 这里指定了 dateType 为json后，服务端响应的内容为json.dumps(date)，
				// 下面 success 的callback 数据无需进行JSON.parse(callback)，
				// 已经是一个对象了，如果没有指定dateType则需要执行 JSON.parse(callback)
                success: function (data) {
                    //当请求执行完成后，自动调用
					data = JSON.parse(data)
		    		//alert(data.ret)
                    //alert("请求成功")
					if (data.ret == 'login is ok!'){
		    		    //window.location.href = "/login/?flag="+flag+"login";
						//window.location.href='/login?flag=login';
						window.location.href = "/login/login";
					}else{
					    alert(data.ret)
					}
                },
				error: function () {
                    //当请求错误之后，自动调用
		    		 //$('#tip').html(data.msg)
                    alert("服务器请求超时,请重试!")
                }
            });
            }

       // 用户名验证
        function name_type() {
            var name = $('.user_name').val();
            if (name.length < 5 || name.length > 20) {
                $(".user_name").css('border', '1px solid red');
                $(".err_name").css("color", "red");
                $(".err_name").text("* 用户名请输入5-20位字符！");
                //alert("用户名请输入5-20位字符！");
                return false;
            } else if ((name.charCodeAt(0) >= 48) && (name.charCodeAt(0) <= 57)) {
                $(".user_name").css('border', '1px solid red');
                $(".err_name").css("color", "red");
                $(".err_name").text("* 首字符必须为字母");
                //alert("首字符必须为字母！");
                return false;
            } else {
                $(".user_name").css('border', '1px solid #409EFF');
                $(".err_name").css("color", "#67C23A");
                $(".err_name").text(" √ 用户名可用！");
				return true;
            }
        }

        // 验证密码
        function pass_type() {
            var pass = $('.user_pass').val();
            var enterPass = $('.user_enter_pass').val();
            if (pass.length < 6 || pass.length > 20) {
                $(".user_pass").css('border', '1px solid red');
                $(".err_pass").css("color", "red");
                $(".err_pass").text("* 密码请输入6-20位字符！");
                //alert("密码请输入6-20位字符！");
                return false;
            } else if (pass == '') {
                $(".user_pass").css('border', '1px solid red');
                $(".err_pass").css("color", "red");
                $(".err_pass").text("* 密码不能为空！");
                //alert("密码不能为空！");
                return false;
            } else {
                enter_pass();
                $(".user_pass").css('border', '1px solid #409EFF');
                $(".err_pass").css("color", "#67C23A");
                $(".err_pass").text(" √ 密码可用！");
				return true;
            }

            if (pass == enterPass) {
                $(".user_pass").css('border', '1px solid #409EFF');
                $(".err_pass").css("color", "#67C23A");
                $(".err_pass").text(" √ 密码可用！");
				return true;
            } else {
                $(".user_pass").css('border', '1px solid red');
                $(".err_pass").css("color", "red");
                $(".err_pass").text("* 请保持两次密码输入一致！");
                return false;
            }
        }

        function enter_pass() {
            var pass = $('.user_pass').val();
            var enterPass = $('.user_enter_pass').val();
            if ($(".user_enter_pass").val() != $(".user_pass").val()) {
                $(".user_enter_pass").css('border', '1px solid red');
                $(".err_enter_pass").css("color", "red");
                $(".err_enter_pass").text("* 两次输入的密码不一致！");
                return false;
            } 
			if ($(".user_enter_pass").val() == '') {
                $(".user_enter_pass").css('border', '1px solid red');
                $(".err_enter_pass").css("color", "red");
                $(".err_enter_pass").text("* 密码不能为空！");
                //alert("密码不能为空！");
                return false;
			}
            if ($(".user_enter_pass").val() == $(".user_pass").val()){
                $(".user_enter_pass").css('border', '1px solid #409EFF');
                $(".err_enter_pass").css("color", "#67C23A");
                $(".err_enter_pass").text(" √ 确认密码一致！");
				return true;
            }
        }
   
        // 点击注册按钮  再次进行验证
        function regist_sub() {
            var name = $('.user_name').val();
            var passwd = $('.user_pass').val();
            var enterPass = $('.user_enter_pass').val();
            var email = $('.user_email').val();
			var obj = {"name":name, "passwd":passwd, "email":email};
            var jstring = JSON.stringify(obj);
			
            if( name != '' && passwd != '' && enterPass != '') {
                name_type();
				pass_type();
				enter_pass();
				//alert("注册成功！");
				$.ajax({
                    url: "/login/register",
		            async: false,
                    type: "POST",        //请求类型
                    data: {"data":jstring},
			        contentType: 'application/json; charset=UTF-8',
                    success: function (data) {
                    //当请求执行完成后，自动调用
					    //alert("请求成功")
				        //alert(data)
					    data = JSON.parse(data)
						if (data.ret == 'register is ok!'){
						    //alert("register is ok!")
							window.location.href = "index";
						}else{
						    alert(data.ret)
						}
                    },
                    error: function () {
                        //当请求错误之后，自动调用
				        //$('#tip').html(data.msg)
                        alert("服务器请求超时,请重试!")
                    }
                });
            }else {
                return false;
            }
			
        }
</script>
</body>
</html>
</body>
</html>