<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
	<table width="75%" border=0.1px solid black cellpadding="0" cellspacing="1" bgcolor="black">
	<tr bgcolor="pink">
			<!-- <td height="33"><div align="center"><strong>物料编号</strong></div></td> -->
			<td><div align="center"><strong>物料类别</strong></div></td>
			<td><div align="center"><strong>物料名称</strong></div></td>
			<td><div align="center"><strong>物料封装</strong></div></td> 
			<td><div align="center"><strong>备注</strong></div></td>
			<!--  <td><div align="center"><strong>修改</strong></div></td> -->
	</tr>
	
	<form action="index.html" method="get">
	<tr bgcolor="white">
				<td height="22" align="center"> <input type="text" name="name"> </td>
				<td height="22" align="center"> <input type="text" name="option"> </td>
				<td height="22" align="center"> <input type="text" name="name"> </td>
				<td height="22" align="center"> <input type="text" name="option"> </td>			
	</tr>
	</form>
	
	<tr bgcolor="white">
	            <td><div align="center"><strong>result:<span id='result'></span></strong></div></td>
                <td><button type="button" id='sum'>确认</button></td>	
	</tr>

    </body>
</html>

<!-- https://www.cnblogs.com/0820-zq/p/5807980.html -->