<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<title>Micagent/product</title>
	<meta name="description" content="Micagent">
	<meta http-equiv="refresh" content="5">
	<style type="text/css">
		html,
		body {
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
		}

		table {
			border-collapse: collapse;
			margin: 120px auto;
		}

		table tr:nth-child(1) {
			background: #f4f4f4;
			text-align: center;
		}

		table tr td:nth-child(3) {
			display: inline-block;
			width: 420px !important;
		}

		table tr td:nth-child(1) {
			width: 80px !important;
		}

		table tr:hover {
			background: #f1f1f1;
		}

		th,
		td {
			border: solid 1px #6D6D6D;
			padding: 5px 10px;
		}

		.mt-sm {
			margin-top: 8px;
			float: left;
			margin-left: 50px;
		}

		.container {
			width: 100%;
			margin: 0 auto;
			padding: 20px;
		}

		.BOM_lode {
			width: 120px;
			height: 38px;
			display: block;
			text-decoration: none;
			color: #fff;
			background: #309ff2;
			line-height: 38px;
			font-size: 14px;
			text-align: center;
			font-weight: bold;
			cursor: pointer;
			border-radius: 5px;
			margin-bottom: 10px;
		}

		.save_btn {
			width: 80px;
			height: 38px;
			display: inline-block;
			text-decoration: none;
			color: #fff;
			background: #309ff2;
			line-height: 38px;
			font-size: 14px;
			text-align: center;
			font-weight: bold;
			border: 0;
			cursor: pointer;
			border-radius: 5px;
		}

		.btn_type {
			margin: 0 auto;
		}
	</style>
</head>

<body>
{% if show %}
 <h1>信息展示</h1>
 	<div class="container">
			<!-- <h2>保存Excel文件</h2> -->
			<div class="mt-sm" style="padding-bottom:40px;">
		    <a href="{% url 'index' %}"><input type="button" value="返回" class="save_btn" /></a>
			</div>		
		<div id="result" contenteditable> </div>

	</div>
    <table>
    <tr>
        <th>nid</th>
        <th>name</th>
		<th>type</th>
        <th>packag</th>
		<th>option</th>
		<th>amount</th>
        <th>img</th>
		<th>price</th>
        <th>quantity</th>
		<th>createTime</th>
        <th>modifyTime</th>
		<th>remark</th>
        <th>Reserve0</th>
		<th>Reserve1</th>
        <th>Reserve2</th>
    </tr>
    {% for line in file_list %}
    <tr>
        <td>{{line.nid}}</td>
        <td>{{line.name}}</td>
		<td>{{line.type}}</td>
        <td>{{line.packag}}</td>
		<td>{{line.option}}</td>
		<td>{{line.amount}}</td>
        <td>{{line.img}}</td>
		<td>{{line.price}}</td>
        <td>{{line.quantity}}</td>
		<td>{{line.createTime}}</td>
        <td>{{line.modifyTime}}</td>
		<td>{{line.remark}}</td>
        <td>{{line.Reserve0}}</td>
		<td>{{line.Reserve1}}</td>
        <td>{{line.Reserve2}}</td>
    </tr>
    {% endfor %}
    </table>
{% endif %}

{% if index %}
{{ static }}
	<div class="container">
		<div class="btn_type">
			<!-- <h2>读取Excel文件</h2> -->
			<div class="mt-sm">
				<input type="file" id="file" style="display:none;"
					accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
				<a href="javascript:selectFile()" class="BOM_lode">加载文件</a>
			</div>

			<!-- <h2>保存Excel文件</h2> -->
			<div class="mt-sm" style="padding-bottom:40px;">
				<!-- <input type="button" onclick="SaveAction()" value="保存文件" class="save_btn" /> -->
				<!--<input type="button" id="send" value="保存文件" class="save_btn" /> -->
				<input type="button" onclick="SaveAction()" value="保存文件" class="save_btn" />
			</div>
			
			<!-- <h2>导出excel</h2> -->
			<div class="mt-sm" style="padding-bottom:40px;">
				<input type="button" onclick="exportExcel()" value="导出文件" class="save_btn" /> 
			</div>			
		</div>
		<div id="result" contenteditable> </div>

	</div>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/xlsx.core.min.js" %}"></script>
	<script type="text/javascript">
        var pjson;
		var djson;
		
		function selectFile() {
			document.getElementById('file').click();
		}

		// 读取本地excel文件
		function readWorkbookFromLocalFile(file, callback) {
			var reader = new FileReader();
			reader.onload = function (e) {
				var data = e.target.result;
				var workbook = XLSX.read(data, { type: 'binary' });
				if (callback) callback(workbook);
			};
			reader.readAsBinaryString(file);
		}

		// 读取 excel文件
		function outputWorkbook(workbook) {
			var sheetNames = workbook.SheetNames; // 工作表名称集合
			sheetNames.forEach(name => {
				var worksheet = workbook.Sheets[name]; // 只能通过工作表名称来获取指定工作表
				for (var key in worksheet) {
					// v是读取单元格的原始值
					console.log(key, key[0] === '!' ? worksheet[key] : worksheet[key].v);
				}
			});
		}

		function readWorkbook(workbook) {
			var sheetNames = workbook.SheetNames; // 工作表名称集合
			var worksheet = workbook.Sheets[sheetNames[0]]; // 这里我们只读取第一张sheet
			//var csv = XLSX.utils.sheet_to_csv(worksheet);
			///document.getElementById('result').innerHTML = csv2table(csv);
			pjson = JSON.stringify(XLSX.utils.sheet_to_json(worksheet));
			var phtml = XLSX.utils.sheet_to_html(worksheet);
			document.getElementById('result').innerHTML = phtml;
		}
//////////////////////////////////////////////////////////////////////////////////		
		function SaveAction(){
		$.ajax({
            url: "/file/save_file",
		    async: false,
            type: "POST",        //请求类型
            data: {"data":pjson},
			contentType: 'application/json; charset=UTF-8',
            //dataType: "json",   // 这里指定了 dateType 为json后，服务端响应的内容为json.dumps(date)，下面 success 的callback 数据无需进行JSON.parse(callback)，已经是一个对象了，如果没有指定dateType则需要执行 JSON.parse(callback)
            success: function (data) {
			//    alert(data)
			    data = JSON.parse(data)
              //当请求执行完成后，自动调用
				if(data.ret == 'save file is ok!'){
				    window.location.href = "/file/show";
				}else{
				    alert(data.ret)
				}
                //alert("请求成功")
            },
            error: function () {
                //当请求错误之后，自动调用
				 //$('#tip').html(data.msg)
                alert("服务器请求超时,请重试!")
            }
        });
        }
////////////////////////////////////////////////////////////////////////////////		
		// 将csv转换成表格
		function csv2table(csv) {
			var html = '<div><table>';
			var rows = csv.split('\n');
			rows.pop(); // 最后一行没用的
			rows.forEach(function (row, idx) {
				var columns = row.split(',');
				columns.unshift(idx + 1); // 添加行索引
				if (idx == 0) { // 添加列索引
					html += '<tr>';
					for (var i = 0; i < columns.length; i++) {
						html += '<th>' + (i == 0 ? '' : String.fromCharCode(65 + i - 1)) + '</th>';
					}
					html += '</tr>';
				}
				html += '<tr>';
				columns.forEach(function (column) {
					html += '<td>' + column + '</td>';
				});
				html += '</tr>';
			});
			html += '</table></div>';
			return html;
		}

		function table2csv(table) {
			var csv = [];
			$(table).find('tr').each(function () {
				var temp = [];
				$(this).find('td').each(function () {
					temp.push($(this).html());
				})
				temp.shift(); // 移除第一个
				csv.push(temp.join(','));
			});
			csv.shift();
			return csv.join('\n');
		}

		// csv转sheet对象
		function csv2sheet(csv) {
			var sheet = {}; // 将要生成的sheet
			csv = csv.split('\n');
			csv.forEach(function (row, i) {
				row = row.split(',');
				if (i == 0) sheet['!ref'] = 'A1:' + String.fromCharCode(65 + row.length - 1) + (csv.length - 1);
				row.forEach(function (col, j) {
					sheet[String.fromCharCode(65 + j) + (i + 1)] = { v: col };
				});
			});
			return sheet;
		}

		// 将一个sheet转成最终的excel文件的blob对象，然后利用URL.createObjectURL下载
		function sheet2blob(sheet, sheetName) {
			sheetName = sheetName || 'sheet1';
			var workbook = {
				SheetNames: [sheetName],
				Sheets: {}
			};
			workbook.Sheets[sheetName] = sheet;
			// 生成excel的配置项
			var wopts = {
				bookType: 'xlsx', // 要生成的文件类型
				bookSST: false, // 是否生成Shared String Table，官方解释是，如果开启生成速度会下降，但在低版本IOS设备上有更好的兼容性
				type: 'binary'
			};
			var wbout = XLSX.write(workbook, wopts);
			var blob = new Blob([s2ab(wbout)], { type: "application/octet-stream" });
			// 字符串转ArrayBuffer
			function s2ab(s) {
				var buf = new ArrayBuffer(s.length);
				var view = new Uint8Array(buf);
				for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
				return buf;
			}
			return blob;
		}

		/**
		 * 通用的打开下载对话框方法，没有测试过具体兼容性
		 * @param url 下载地址，也可以是一个blob对象，必选
		 * @param saveName 保存文件名，可选
		 */
		function openDownloadDialog(url, saveName) {
			if (typeof url == 'object' && url instanceof Blob) {
				url = URL.createObjectURL(url); // 创建blob地址
			}
			var aLink = document.createElement('a');
			aLink.href = url;
			aLink.download = saveName || ''; // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，file:///模式下不会生效
			var event;
			if (window.MouseEvent) event = new MouseEvent('click');
			else {
				event = document.createEvent('MouseEvents');
				event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
			}
			aLink.dispatchEvent(event);
		}

		$(function () {
			document.getElementById('file').addEventListener('change', function (e) {
				var files = e.target.files;
				if (files.length == 0) return;
				var f = files[0];
				if (!/\.xlsx$/g.test(f.name)) {
					alert('仅支持读取xlsx格式！');
					return;
				}
				readWorkbookFromLocalFile(f, function (workbook) {
					readWorkbook(workbook);
				});
			});
			loadRemoteFile('./sample/test.xlsx');
		});

		function loadRemoteFile(url) {
			readWorkbookFromRemoteFile(url, function (workbook) {
				readWorkbook(workbook);
			});
		}

		function exportExcel() {
			var csv = table2csv($('#result table')[0]);
			var sheet = csv2sheet(csv);
			var blob = sheet2blob(sheet);
			openDownloadDialog(blob, '导出.xlsx');
		}
		
	</script>
{% endif %}	
</body>

</html>

