<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="upload" method="post" enctype="multipart/form-data" >
   {% csrf_token %}
   <input type="file" name="upload_file" />
   <br/>
   <input type="submit" value="upload"/>
</form>
</form>
</body>
</html>